.hero_text {
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUpNM 1s 0.2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes fadeInUpNM {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading_primary {
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  color: #971201;
  margin-bottom: 10px;
}

.subtext {
  font-weight: 400;
  font-size: 28px;

  color: #000000;
  line-height: 1.5;
  letter-spacing: 4.8px;
}

@media (max-width: 425px) {
  .heading_primary {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .subtext {
    padding: 0 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 3px;
  }
}
