.hero_text {
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUpNM 1s 0.2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes fadeInUpNM {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heading_primary {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  color: #971201; /* Dark red like the image */
  margin-bottom: 10px;
}

.subtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;

  color: #000000;
  line-height: 1.5;
  letter-spacing: 4.8px;
}
