.emiCalculator {
  display: flex; /* Add this */
  justify-content: flex-end; /* Push calculatorBox to the right */
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 100vh; /* So baba fits nicely */
}

.emiCalculator::before {
  content: "";
  position: absolute;
  left: -150px;
  bottom: 0;
  width: 700px;
  height: 700px;
  background: url("./public/images/calcibaba.png") no-repeat center/contain;
  z-index: 10;
}

.calculatorBox {
  text-align: right;
  background: #f4dad8;
  border-top-left-radius: 43px;
  border-bottom-left-radius: 43px;
  padding: 3rem;
  width: 80%;
  position: relative;
}

.headingPrimary {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 90px;
  line-height: 60px;
  letter-spacing: 18px;
  color: #0d0d0d;
}

.headingSecondary {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 12px;
  color: #0d0d0d;
}

.description {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 3px;
  color: #000000;
}

.description strong {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 3px;
  color: #000000;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputContainer input {
  padding: 1rem;
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #fff;
  color: #333;
  outline: none;
  z-index: 20;
}

.subtext {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #999;
  margin-top: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}

.applyNowContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 10px;
}

.applyNowContainer span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

.circleButton {
  background: #b14800;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.circleButton:hover {
  background: #8e3600;
}
